.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roundedCircle {
  border: .8rem solid #565656;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  
}

.doneCircle {
  background-color: beige;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  translate: calc(50% - 2px) calc(50% - 2px);
}

.firstRect {
  background-color: #565656;
  width: .89rem;
  height:1.2rem;
  translate:calc(50% + 2px) calc(100% + 1.2rem);
}

.rect {
  background-color: #565656;
  width: .89rem;
  min-height:5rem;
  translate: calc(50% + .9rem) calc(-50% + 2rem);
  margin: 5px 0 -18px;
}